<div id="{{id}}" class="product">
  <div class="product__main">
    <h3 class="product__title">
      <img src="{{title.image}}" alt="{{{title.text}}}"/>
    </h3>
    <h4 class="product__tagline">{{{tagline}}}</h4>
    <p class="product__desc">{{{description}}}</p>
    <ul class="product__attrs">
      {{#each attributes}}
        <li>{{{this}}}</li>
      {{/each}}
    </ul>
    {{#if colours}}
      <div class="available-colours">
        <h4 class="available-colours__title">Colour options</h4>
        <ul class="available-colours__swatches">
          {{#each colours}}
            <li class="available-colours__swatch available-colours__swatch--{{slugify this}}">
              <span>{{.}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    {{#if link}}
      <a class="lg-button" href="{{link}}">Find out more</a>
    {{/if}}
    {{#if video}}
      <a class="lg-button js-youtube-lightbox" href="{{video}}">Watch the video</a>
    {{/if}}
  </div>
  <div class="product__aside">
    <img class="product__image" src="{{image}}" alt="Image of {{{title.text}}}"/>
  </div>
  <div class="product__features">
    {{#features feature_ids features}}
      <img class="product__feature" src="{{image}}" alt="{{text}}"/>
    {{/features}}
  </div>
</div>
