<div class="comparison-table grid_25 alpha omega">

  {{!-- this really needs to be refactored into an html table when we have the
  time - Tom --}}
  <div class="js-comparison-slider">
    {{#each compare.products}}
      <div class="drag comparison-table__product">
        <div class="comparison-table__handle">
          <div class="comparision-table__product-image">
            <img alt="Image of {{title}}" title="Drag to compare" src="{{image}}" />
          </div>
          <h2 class="comparision-table__product-title">{{title}}</h2>
        </div>
        {{#each attributes}}
          <p class="comparision-table__product-attribute comparision-table__product-attribute--{{@key}}">
            {{{this}}}
          </p>
        {{/each}}
      </div>
    {{/each}}
  </div>

  <h3 class="comparison-table__attribute" style="top:165px;">Screen</h3>
  <h3 class="comparison-table__attribute" style="top:315px;">Battery</h3>
  <h3 class="comparison-table__attribute" style="top:450px;">Processor</h3>
  <h3 class="comparison-table__attribute" style="top:630px;">Camera</h3>
  <h3 class="comparison-table__attribute" style="top:790px;">OS</h3>
  <h3 class="comparison-table__attribute" style="top:905px;">Memory</h3>
  <h3 class="comparison-table__attribute" style="top:1040px;">Network</h3>
  <h3 class="comparison-table__attribute" style="top:1330px;">Connectivity</h3>
  <h3 class="comparison-table__attribute" style="top:1435px;">Dimensions</h3>
  <h3 class="comparison-table__attribute" style="top:1550px;">Sensors</h3>
  <h3 class="comparison-table__attribute" style="top:1730px;">Messaging</h3>
  <h3 class="comparison-table__attribute" style="top:1855px;">Music</h3>
  <h3 class="comparison-table__attribute" style="top:1980px;">Other Features</h3>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {

  head.load(prefixURL + "js/jquery.bxslider.js", function () {

    var slider;

    var initSlider = function(startPosition) {
      // default to 0 if no start position provided
      startPosition = typeof startPosition !== 'undefined' ? startPosition : 0;

      return $('.js-comparison-slider').bxSlider({
        speed: 400,
        infiniteLoop: false,
        hideControlOnEnd: true,
        pager: false,
        maxSlides: 6,
        startSlide: startPosition,
        moveSlides: 1,
        slideWidth: 120,
        slideMargin: 10
      });
    };

    $(".js-comparison-slider" ).sortable({
      axis: "x",
      opacity: 0.5,
      tolerance: "pointer",
      placeholder: "comparison-table__drag-placeholder",
      handle: '.comparison-table__handle',
      update: function (e, ui) {
        // destroy and then re-initialise the slider (in the same place) when
        // the sort order changes
        var currentSliderPosition = slider.getCurrentSlide();
        slider.destroySlider();
        slider = initSlider(currentSliderPosition);
      }
    });

    // start the slider
    slider = initSlider();
  });
}

</script>
