<div class="homepage">

  <div class="main grid_25 fade-in alpha omega">

    <div class="promo-slider">
      <ul class="bxslider">
        {{#each home.slides}}
          <li class="promo-slide">
            <div class="promo-slide__details">
              <h2 class="promo-slide__title">
                <img src="{{title.image}}" alt="{{{title.text}}}"/>
              </h2>
              <div class="promo-slide__body">{{{body}}}</div>
              <div class="promo-slide__tagline"><span>{{{tagline}}}</span></div>
              <a class="lg-button" data-target-content="{{internal_link}}" href="#">Find out more</a>
            </div>
            <div class="promo-slide__image">
              <img src="{{image}}" alt="Image of {{title}}" />
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    {{#each home.sections}}
      <div class="grid_25 home-section">
        <div class="home-section__details">
          <h2 class="home-section__title">{{title}}</h2>
          <div class="home-section__body">{{{body}}}</div>
          <a class="lg-button" data-target-content="{{internal_link}}" href="#">Find out more</a>
        </div>
        <div class="home-section__image">
          <img src="{{image.src}}" alt="{{image.alt}}" />
        </div>
        <div class="home-section__tagline"><span>{{{tagline}}}</span></div>
      </div>
    {{/each}}

  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {
  head.load(prefixURL + "js/jquery.bxslider.js", function () {
    $('.bxslider').bxSlider();
  });

  // fade-in content management
  head.load(prefixURL + "css/fade-in.css");
  head.load(prefixURL + "js/fade-in.js", function() {
    assignFadeIn('.fade-in');
  });
}

</script>
